easy_admin:
    site_name: 'Hitea Admin'
    design:
        form_theme:
            - '@EasyAdmin/form/bootstrap_4.html.twig'
            - '@VichUploader/Form/fields.html.twig'
    entities:
        Device:
            class: App\Entity\Device
            label: 'Devices'
            list:
                title: '%%entity_label%% listing'
                fields:
                    - id
                    - { property: 'name' }
                    - { property: 'description' }
                    - { property: 'ip_public' }
                    - { property: 'ip' }
                    - { property: 'customer' }
                    - { property: 'categorie' }
                    - { property: 'active' }
            show:
                title: '%%entity_label%% show'
                fields:
                    - { property: 'name' }
                    - { property: 'description' }
                    - { property: 'ip_public' }
                    - { property: 'ip' }
                    - { property: 'categorie' }
                    - { property: 'tags' }
                    - { property: 'customer' }
                    - { property: 'configFilename', base_path: '%app.path.device_conf%' }
                    - { property: 'active' }
                    - { property: 'created_at' }
                    - { property: 'updated_at' }
            form:
                fields:
                    - { property: 'name' }
                    - { property: 'description' }
                    - { property: 'ip_public' }
                    - { property: 'ip' }
                    - { property: 'categorie' }
                    - { property: 'tags' }
                    - { property: 'customer' }
                    - { property: 'configFile', type: 'vich_file' }
                    - { property: 'active' }
        Tag:
            class: App\Entity\Tag
            label: 'Tags'
            list:
                title: '%%entity_label%% listing'
                fields:
                    - id
                    - { property: 'name' }
            show:
                title: '%%entity_label%% show'
                fields:
                    - { property: 'name' }
            form:
                fields:
                    - { property: 'name' }
        Customer:
            class: App\Entity\Customer
            label: 'Customers'
            list:
                title: '%%entity_label%% listing'
                fields:
                    - id
                    - { property: 'name' }
                    - { property: 'description' }
                    - { property: 'city' }
                    - { property: 'country' }
                    - { property: 'phone' }
                    - { property: 'email' }
                    - { property: 'contact' }
                    - { property: 'contact_title' }
            show:
                title: '%%entity_label%% show'
                fields:
                    - { property: 'name' }
                    - { property: 'description' }
                    - { property: 'adress' }
                    - { property: 'city' }
                    - { property: 'postal_code' }
                    - { property: 'country' }
                    - { property: 'phone' }
                    - { property: 'mobile' }
                    - { property: 'rating' }
                    - { property: 'email' }
                    - { property: 'contact' }
                    - { property: 'contact_title' }
            form:
                fields:
                    - { property: 'name' }
                    - { property: 'description' }
                    - { property: 'country' }
                    - { property: 'phone' }
                    - { property: 'mobile' }
                    - { property: 'rating' }
                    - { property: 'email' }
                    - { property: 'contact' }
                    - { property: 'contact_title' }
        Role:
            class: App\Entity\Role
            label: 'Roles'
            list:
                title: '%%entity_label%% listing'
                fields:
                    - id
                    - { property: 'title' }
            show:
                title: '%%entity_label%% show'
                fields:
                    - { property: 'title' }
            form:
                fields:
                    - { property: 'title' }
        User:
            class: App\Entity\User
            label: 'Users'
            list:
                title: '%%entity_label%% listing'
                fields:
                    - id
                    - { property: 'email' }
                    - { property: 'userRoles' }
            show:
                title: '%%entity_label%% show'
                fields:
                    - { property: 'email' }
                    - { property: 'userRoles' }
            form:
                fields:
                    - { property: 'email' }
                    - { property: 'userRoles' }
        Categorie:
            class: App\Entity\Categorie
            label: 'Categories'
            list:
                title: '%%entity_label%% listing'
                fields:
                    - id
                    - { property: 'name' }
                    - { property: 'description' }
                    - { property: 'parent' }
                    - { property: 'child' }
            show:
                title: '%%entity_label%% show'
                fields:
                    - { property: 'name' }
                    - { property: 'description' }
                    - { property: 'parent' }
                    - { property: 'child' }
            form:
                fields:
                    - { property: 'name' }
                    - { property: 'description' }
                    - { property: 'parent' }
                    - { property: 'child' }