{% extends 'base.html.twig' %}

{% block title 'Welcome' %}

    {% block body %}
        <div class="container">
            <div class="jumbotron text-center mt-5">
                <h1>Bienvenue Sur le site</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate reiciendis dolorum excepturi odit, libero laboriosam beatae animi natus tempora voluptatem blanditiis non enim ipsam ad tenetur a autem vero in.</p>
            </div>
        </div>

        <div class="container">
            <h2>Derniers Ajouts</h2>
            <div class="div row flex">
                {% for device in devices %}
                    <div class="col-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="{{ path('device.show', {id: device.id, slug: device.slug}) }}">
                                        {{ device.name }}</a>
                                </h5>
                                <p class="card-text">{{ device.description }}</p>
                                <div class="text-primary" style="font-weight: bold">{{ device.ip }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    {% endblock %}