{% extends 'base.html.twig' %}

{% block title 'All Devices' %}

    {% block body %}
        <div class="container mt-5">
            <h1>View all devices</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate reiciendis dolorum excepturi odit, libero laboriosam beatae animi natus tempora voluptatem blanditiis non enim ipsam ad tenetur a autem vero in.</p>
        </div>

    {% endblock %}