{% extends 'base.html.twig' %}

{% block title 'Create Device' %}

    {% block body %}

        <div class="container mt-5">
            <h1>Create a device</h1>
            {{ include ('admin/device/_form.html.twig', {
                form: form,
                button: 'Create'
            }) }}
        </div>

    {% endblock %}