{% extends 'base.html.twig' %}
{% block title 'Hitea Admin' %}
    {% block body %}
        <h1>Hitea Admin</h1>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message}}
            </div>
        {% endfor %}
        <div class="card-columns">
            <div class="card bg-light">
                <a href="{{ path('admin.device.index') }}">
                    <div class="card-body text-center">
                        <p class="card-text">Devices</p>
                    </div>
                </a>
            </div>
            <div class="card bg-warning">
                <a href="{{ path('admin.tag.index') }}">
                    <div class="card-body text-center">
                        <p class="card-text">Tags</p>
                    </div>
                </a>
            </div>
            <div class="card bg-success">
                <a href="{{ path('admin.customer.index') }}">
                    <div class="card-body text-center">
                        <p class="card-text">Cutomers</p>
                    </div>
                </a>
            </div>
            <div class="card bg-danger">
                <div class="card-body text-center">
                    <p class="card-text">Users</p>
                </div>
            </div>
            <div class="card bg-light">
                <div class="card-body text-center">
                    <p class="card-text">Roles</p>
                </div>
            </div>
            <div class="card bg-info">
                <div class="card-body text-center">
                    <p class="card-text">Settings</p>
                </div>
            </div>
        </div>
    {% endblock %}
