{% extends 'base.html.twig' %}
{% block title 'Hitea Admin' %}
    {% block body %}
        <h1>Hitea Admin</h1>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message}}
            </div>
        {% endfor %}
    {% endblock %}
