{% extends 'base.html.twig' %}
{% block title device.name %}
    {% block body %}
        <div class="row">
            <div class="col-md-8">
                <h1>
                    {{ device.name }}</h1>
            </div>
            <div class="col-md-4">
                <h2>Client:
                    {{ device.customer }}</h2>
                <h2>Tags</h2>
                <ul class="list-group">
                    {% for tag in device.tags %}
                        <li class="list-group-item">
                            {{ tag.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endblock %}
