{% extends 'base.html.twig' %}
{% block title 'Edit Customer' %}
    {% block body %}
        <h1>Edit the customer</h1>
        {{ include ('admin/customer/_form.html.twig', {
                form: form,
                button: 'Save'
            }) }}
    {% endblock %}
